body{
    border:20px solid #bdc3d7;
    padding: 20px;
    max-width: 700px;
    width:80%;
    margin: 20px auto;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight:900;
}
#My{
      background-color: #f5d0cb;
}
.quote{
    border-left: 5px solid #bdc3d7;
    padding-left: 5px;
}
.date{
 color: #3498db;
text-transform: uppercase;
    letter-spacing: 1px;
    padding-top: 10px;
}
h2{
    color: #2c3e50;
    font-size: 30px;
}
.post{
    margin-bottom: 20px;
}